table{
    width:100%;
    border-collapse:collapse;
}

tr:nth-of-type(odd){
    background: #eee;
}

th {
    background: #333;
    font-weight: bold;
    color: white;
}
td,th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

@media
    only screen and (max-width: 760px),
(min-device-width: 480px) and (max-device-width: 1024px) {
    table,thead,tbody,th,td,tr {
        display: block;
    }
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border: 3px solid #555;
}

output[type=text] {
	padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border: 3px solid #555;
}

input[type=button] {
    width: 128px;
    margin: 7px 5px 7px;
    padding: 3px 0 6px 0;
    border-radius: 2px;
    font-family: Tahoma;
    background: #f4f4f4;
}

input[type=submit] {
    width: 128px;
    margin: 7px 5px 7px;
    padding: 3px 0 6px 0;
    border-radius: 2px;
    font-family: Tahoma;
    background: #f4f4f4;
}

.button{
    width: 128px;
    margin: 7px 0 5px 7px;
    padding: 3px 0 6px 0;
    border-radius: 2px;
    font-family: Tahoma;
    background: #f4f4f4;
}
